body {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f2f5;
}

.logo {
  text-align: center;
}

h1 {
  border-bottom: 2px solid rgb(125, 125, 255);
  display: inline;
}

h2 {
  font-size: 1.3em;
}
